.navbar {
    color: var(--text-color);
    max-width: var(--max-width-container);
    margin: 0 auto;
    height: var(--navbar-height);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    color: var(--text-color-when-primary);
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar__menu {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
    font-size: 1rem;
    font-weight: bolder;
}

.navbar__menu-item:not(:last-child) {
    cursor: pointer;
    margin-right: 12px;
}

.navbar__menu-item:hover {
    color: var(--primary-color);
}

.navbar__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
}

.navbar__actions__items {
    padding: 4px 8px;
}
.navbar__actions-cart-icon,
.navbar__actions-user-icon {
    padding: 8px;
}